/* Estilo para el DialogPane */
.dialog-pane {
    -fx-background-color: #2b2b2b;
}

/* Estilo para el ButtonBar */
.dialog-pane .button-bar {
    -fx-background-color: #242424;
}

/* Estilo para los botones en el ButtonBar */
.dialog-pane .button-bar .button {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
}

/* Estilo para los PasswordField */
.dialog-pane .password-field {
    -fx-background-color: #424242;
    -fx-text-fill: #ffffff;
}